<!DOCTYPE html>
<html>
<head>

    <% include ../partials/head %>

</head>
<body>
<div class="grid">
    <% include ../partials/header %>
    <main>
        <!-- Main image carousel -->
        <div id="carouselBox">
            <img src="/images/aurora.jpg" alt="">
        </div>
    </main>
    
    <div class="destination-left">
        <div class="destination-image">
            <p>placeholder image 1</p>
        </div>
        <div class="destination-text">
            <p>placeholder text 2</p>
            <ul>
                    <% for(destination of destinations){ %>
                        <li><%= destination.title %></li>
                        <li><%= destination.id %></li>
                    <% } %>
            </ul>



        </div>
    </div>
    <div class="destination-right">
        <div class="destination-text">
           <p>placeholdertext1</p>
        </div>
        <div class="destination-image">
            <p>placeholder image 2</p>
        </div>
    </div>

    <div id="newsletterSignup">
            <form action="">
                <input type="email">
                <input type="submit">
            </form>
    </div>

    <footer>
        Footer
    </footer>
</div>
</body>
</html>