<!DOCTYPE html>
<html>

<head>

    <% include ../partials/head %>
    
</head>

<body>
    <div class="viewsGrid">
        <% include ../partials/header %>
        <div class="featuredImage">
            <p id="imageOverlay"><%= destination.title %></p>
            <img src="/images/aurora.jpg" alt="">
        </div>
        <div class="map" id="map">
            <p>map</p>
        </div>
        <div class="destinationInfo">
            <p><%= destination.title %></p>
        </div>
        <div class="gallery">
            <p>gallery</p>
        </div>
        <footer>
            Footer
        </footer>
    </div>
</body>
<script>
    // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: -25.344, lng: 131.036 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 4, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8NxcntctwEnWnk6f1Hwp7E__fic5QGn0&callback=initMap"
    type="text/javascript"></script>

</html>